<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<!-- Environment Initialization -->
	<bean id="TracksIngestGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.tracks.TracksIngestGeneratorService">
		<constructor-arg type="String">
			<value>TracksIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>TracksIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>TracksIngestGeneratorService</value>
		</constructor-arg>
	</bean>

	<bean id="TracksIngestAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.tracks.TracksIngestAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
	
	<bean id="SendMailGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.tracks.mail.SendMailGeneratorService">
		<constructor-arg type="String">
			<value>SendMailGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>SendMailGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>SendMailGeneratorService</value>
		</constructor-arg>
	</bean>

	<bean id="SendMailAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.tracks.mail.SendMailAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>

	<bean id="PredictionsIngestGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.predictions.PredictionsIngestGeneratorService">
		<constructor-arg type="String">
			<value>PredictionsIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>PredictionsIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>PredictionsIngestGeneratorService</value>
		</constructor-arg>
	</bean>

	<bean id="PredictionsIngestAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.predictions.PredictionsIngestAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
	
</beans>