<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<bean id="simpleWPSHTTPClient" class="org.geotools.data.ows.SimpleHttpClient">
		<property name="user" value="admin" /> <!-- HTTP BASIC Authentication user name -->
		<property name="password" value="1nurc2" /> <!-- HTTP BASIC Authentication password -->
		<property name="connectTimeout" value="300" /> <!-- tcp/ip connect timeout in seconds -->
		<property name="readTimeout" value="300" /> <!-- socket read timeout in seconds -->
	</bean>
			
	<!-- Environment Initialization -->
	<bean id="TracksIngestGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.tracks.TracksIngestGeneratorService">
		<constructor-arg type="String">
			<value>TracksIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>TracksIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>TracksIngestGeneratorService</value>
		</constructor-arg>

		<property name="wpsHTTPClient" ref="simpleWPSHTTPClient" />

	</bean>

	<bean id="TracksIngestAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.tracks.TracksIngestAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>


	<bean id="PredictionsIngestGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.predictions.PredictionsIngestGeneratorService">
		<constructor-arg type="String">
			<value>PredictionsIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>PredictionsIngestGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>PredictionsIngestGeneratorService</value>
		</constructor-arg>

		<property name="wpsHTTPClient" ref="simpleWPSHTTPClient" />

	</bean>

	<bean id="PredictionsIngestAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.predictions.PredictionsIngestAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
	
</beans>