<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<!-- Environment Initialization -->
	<bean id="LogsGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.logfile.LogsGeneratorService">
		<constructor-arg type="String">
			<value>LogsGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>LogsGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>LogsGeneratorService</value>
		</constructor-arg>
	</bean>
	
    <bean id="LogsAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.logfile.LogsAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
	
	<!-- Environment Initialization -->
	<bean id="MissionLogsGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.missionlogfile.MissionLogsGeneratorService">
		<constructor-arg type="String">
			<value>MissionLogsGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>MissionLogsGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>MissionLogsGeneratorService</value>
		</constructor-arg>
	</bean>

    <bean id="MissionLogsAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.missionlogfile.MissionLogsAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
	
    <!-- Environment Initialization -->
	<bean id="MissionScriptGeneratorService"
		class="it.geosolutions.geobatch.gliders.ingest.missionscript.MissionScriptGeneratorService">
		<constructor-arg type="String">
			<value>MissionScriptGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>MissionScriptGeneratorService</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>MissionScriptGeneratorService</value>
		</constructor-arg>
	</bean>

    <bean id="MissionScriptAliasRegistrar"
		class="it.geosolutions.geobatch.gliders.ingest.missionscript.MissionScriptAliasRegistrar"
		lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
	
</beans>