<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">
    
    <bean id="NetcdfCFSPI" class="it.geosolutions.geobatch.metocs.netcdf2geotiff.impl.cf.NetcdfCFSPI" lazy-init="false">
    </bean>

    <bean id="NetcdfIMSPI" class="it.geosolutions.geobatch.metocs.netcdf2geotiff.impl.im.NetcdfImageMosaicSPI" lazy-init="false">
    </bean>
    
    <bean id="Grib1SPI" class="it.geosolutions.geobatch.metocs.netcdf2geotiff.impl.grib1.Grib1SPI" lazy-init="false">
    </bean>
    
    <bean id="NetcdfSPILoader" class="it.geosolutions.geobatch.metocs.netcdf2geotiff.spi.NetcdfSPILoader"  lazy-init="false">
    </bean>

</beans>